{
  "presets": ["es2015", "stage-0"],
  "plugins": [
    "syntax-dynamic-import",
    "transform-object-rest-spread",
    "transform-object-assign",
    "transform-es2015-destructuring",
    ["transform-runtime", {
      "helpers": false,
      "polyfill": false,
      "regenerator": true,
      "moduleName": "babel-runtime"
    }]
  ]
}